body{
    margin: 0;
}

div.main#root{
    margin: 0;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 32px;
}

div.main#root * {
    margin: 0;
}

div.main#root div.bar{
    background-color: rgb(34, 34, 34);
    color: rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 5px;
}

div.main#root div.bar>p.title{
    font-size: 48px;
    color: white;
}

div.main#root div.bar>p.subtltle{
    font-size: 32px;
    color: rgb(197, 197, 197);
}

div.main#root div.block{
    margin-top: 4px;
    margin-left: 7px;
    border-top: 8px solid rgb(108, 108, 108);
    border-left: 8px solid rgb(108, 108, 108);
    width: min-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    font-size: 24px;
    padding: 1px;
}

div.main#root>div.block *{
    width: max-content;
    margin: 1px;
}


div.main#root>div.block ul {
    list-style-type: none;
    padding: 0px;
}

div.main#root>div.block ul>li {
    padding: 2px;
    margin-bottom: 3px;
    border-left: 5px solid rgb(108, 108, 108);
    background-color: rgba(131, 131, 131, 0.233);
}