div.main#root div.searcher {
    margin: 2px;
    border: 2px solid rgb(79, 79, 79);
    padding: 4px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
}

div.main#root div.searcher>p {
    font-size: 6
}

div.main#root>div.kan_bu_jian_wo {
    color: rgb(234, 234, 234);
}